* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-wrapper {
	position: relative;
	width: 100%;
}

header {
	position: fixed;
	display: flex;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: space-around;
    align-items: center;
    width: 100%;
}

figure {
	text-align: center;
	margin-top: 15px;
}
