* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-wapper {
	position: relative;
}

#header {
	top: 0;
	position: fixed;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	background: #95B13F;
}

