* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: san-serif;
}

:root {
	--orange-color: #e52a13;
}


}
#page-wrapper {
	position: relative;
	width: 100%;
}

header {
	position: fixed;
	display: flex;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background: #fff;
    -webkit-box-shadow: 0px 13px 17px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 13px 17px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 13px 17px 2px rgba(0,0,0,0.75);
}

figure {
	text-align: center;
	margin-top: 15px;
	width: 100%;
	margin-bottom: 10px;
}

nav {
	margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
}

nav ul {
	flex-direction: column;
}

li {
	list-style: none;
	padding-bottom: 10px;
}

a {
	text-decoration: none;
	color: #000;
}

main {
	display: flex;
	flex-direction: column;
}

.conversion-point {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-top: 12em;
	text-align: center;
}

form {
	margin-top: 20px;
	margin-bottom: 20px;
}

form input[type='email'] {
	width: 100%;
    margin-bottom: 20px;
    height: 2.5em;
    padding: 8px;
    border-radius: 12px;
    font-size: 0.9em;
}

button[type='submit'] {
	width: 60%;
    height: 30px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 900;
    background: var(--orange-color);
    color: #fff;
    border: 0px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	max-width: 1000px;
	width: 100%;
}

#features {
	display: flex;
	flex-direction: column;
}

.grid {
	display: flex;
	flex-direction: row;
	margin-bottom: 2em;
}


#features .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1em;
	font-size: 5em;
	width: 20vw;
	color: var(--orange-color);
}

#features .description {
	display: flex;
	flex-direction: column;
	height: 5em;
	width: 80vw;
	padding-left: 1em;
	padding-right: 1em;
}

#how-it-works {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
}

#pricing {

	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	margin-top: 3rem;
}

.product {
	max-width: 300px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.product-head {
	text-align: center;
	color: black;
	width: 100%;
	padding: 15px;
	font-weight: 800;
}

.product ol {
	margin-top: 1.5rem;
}

.product button {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 1rem;
	font-weight: bolder;
	margin-bottom: 1rem;
	background: var(--orange-color);
	color: #fff;
	border-radius: 5px;
	border: 0px;
}

footer {
	width: 100%;
	text-align: right;
	padding: 1.5rem;
	background: #f6ea8c;
}

footer ul {
	display: flex;
	justify-content: flex-end;
}

footer ul li {
    padding-left: 20px;
    padding-right: 0px;
}
 
@media screen and (min-width: 980px) {
	#pricing {
		flex-direction: row;
	}
	figure {
		width: 30%;
	}
	nav {
		width: 60%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding-right: 0rem;
	}
	nav ul {
		display: flex;
		flex-direction: row;
	}
	nav ul li {
		padding-left: 10px;
		padding-right: 10px;
	}
}
